body {
  background-color: lavender;
}
h1 {
  color: Black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 28px;
}

h2 {
  color: Black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 22px;
}

p {
  color: Black;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}